# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#tex
*.aux
*.log
*.pdf

#vim undofiles
*~
#OS X Filesystem junk
.DS_Store
#vim swapfiles
*.swp
*.tgz
